<html>
	<head>
		<!-- Standard Meta -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<!-- Site Properties -->
		<title>Update Password</title>
		<link rel="stylesheet" type="text/css" href="semantic.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="semantic.min.js"></script>
	</head>
	<body>
		<div class="ui text container">
			<div class="ui segments">
			<form action="change_password", method="post">
				<label>Username:</label> <input type="text" name="username"><br>
				<label>Current password:</label> <input type="password" name="oldpass"><br>
				<label>New password: </label><input type="password" name="newpass"><br>
				<label>Confirm password:</label> <input type="password" name="conf_pass"><br>
				<input type="submit" value="Submit" class="ui basic button">
			</form>
				</div>
		</div>

	</body>
</html>
