<html>


<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<!-- Site Properties -->
	<title>Update Password</title>
	<link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
	<script src="/static/jquery.min.js"></script>
	<script src="/static/semantic.min.js"></script>
	<script src="/static/passwordstrength.js"></script>
</head>

<body style="padding-top:20px;">
	<div class="ui text container">
		<h2 class="ui header grey">
			  <i class="privacy icon orange"></i>
			  <div class="content">
				Update your password
				<div class="sub header">Change the password to your active directory account</div>
			  </div>
		</h2>
		<div class="ui divider"></div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						{% if 'Password changed' in message %}
							<div class="ui small success message">
								<i class="close icon"></i>
								<div class="header">Woohoo! It's a success...</div>
									<p>{{ message }}</p>
							</div>
						{% else %}
							<div class="ui small error message">
								<i class="close icon"></i>
								<div class="header">Ooops! Something did not work out...</div>
									<ul class="list">
										<li>{{ message }}</li>
									</ul>
								</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				<script>
					$('.message .close')
					  .on('click', function() {
						$(this)
						  .closest('.message').remove();
						;
					  })
					;
				</script>
			{% endwith %}
		<form class="ui fluid form" autocomplete="off" method="post">
			<div class="ui labeled small input fluid field">
				{{ form.username.label(class='ui label') }} {{ form.username(size=20, autocomplete='off') }}
			</div>
			<div class="ui labeled small input fluid field">
				{{ form.oldpass.label(class='ui label') }} {{ form.oldpass(autocomplete='off') }}
			</div>
			<div class="ui labeled small input fluid field">
				{{ form.newpass.label(class='ui label') }} {{ form.newpass(autocomplete='off') }}
			</div>
			<div class="ui labeled small input fluid field">
				{{ form.confpass.label(class='ui label') }} {{ form.confpass(autocomplete='off') }}
			</div>
			<input type="submit" value="Update password" class="ui right floated orange button">
		</form>
	</div>

	<br>
	<br>
	<div class="ui divider"></div>

	<div class="ui text container">
		<h3 class="ui header grey">Password Strength Meter</h3>
		<p>
			The strength meter tells you how many possible passwords there are based on the length and character types used.
		</p>
		<!--<p>
			The password "1p" has 2 characters, one  a lowercase letter and one a number.  To brute force this password, there are 26 possible letters and 10 possible numbers which is (10 + 26) * (10 + 26) = 1,296 possibilities. Less than a second to crack!
		</p>-->
		<div id="passwordIndicator" >
			<p>
				<span id="possibilities" class="reset"></span>
			</p>
			<p>
				Time to crack using <input type="text" id="nodes" value="2" size="5"/> core(s):
			</p>
			<p>
				<span id="rates" class="reset"></span>
			</p>
		</div>
	</div>
</body>
</html>